.contents {
  background-color: #e6ffe9;
}

.first-view {
  height: 70vh;
  width: 100vw;
  background-image: image-url('topbike2.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.login_rider {
  margin: 10px 0 0 10px;
}

.rider_logo {
  width: 50px;
}

.login_user {
  display: block;
  background-color: #e6ffe9; 
  font-size: 16px;
  color: green;
  text-decoration: underline;
  width: 10vw;
}

.login_user:hover {
  color: #003300;
}

.ride-contents {
  background-color: #e6ffe9;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

// .top_posts {
//   margin: 0 auto;
// } 

.heading-name {
  font-size: 30px;
  color: #008000;
}

.card {
  width: calc((100% - 50px) / 3);
  margin-bottom: 40px;
  
}

.card__body {
  width: 50vw;
  border: 1px solid green;
  border-radius: 5px;
  background-color: #f0f0f0;
}

.card__title {
  display: block;
  font-size: 17px;
  margin-bottom: 8px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.card__title:hover {
  color: #fff;
  background: #008000;
}

.card__summary {
  font-size: 16px;
}

.card__user {
  display: block;
  font-size: 12px;
  color: #999;
  text-align: right;
  text-decoration: underline;
}

.card__user:hover {
  color: #008000;
}

.liked__count {
  color: red;
}
