.inner {
  background-image: image-url('new.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 70vw;
  min-width: 450px;
  padding: 10vh 15vw;
}

.ride__wrapper {
  min-height: calc(100vh - 161px);
  border: 1px solid black;
  margin: 5vh;
  background-color: #f0f0f0;
  border-radius: 10px;
}

.ride__hedding {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 20px 0;
  border: 1px solid black;
  border-radius: 10px;
}

.ride__user {
  display: block;
  font-size: 16px;
  color: #999;
  text-align: right;
  text-decoration: underline;
}

.ride__manage {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  margin-top: 50px;
}

.ride__btn {
  display: block;
  padding: 0.4em 1.6em;
  font-size: 0.4em;
  color: #999;
  text-decoration: none;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 4px;
}

.ride__detail {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8px;
}

.detail__title {
  font-size: 20px;
  font-weight: bold;
}

.ride__user:hover {
  color: #008000;
}

.liked__members {
  margin: 5vh;
  text-align: center;
}

.delete__like {
  background-color:pink;
  border-radius: 3px;
  transition: 0.4s ease;
  font-weight: bold;
  margin-bottom: 8px;
}


.get__like {
  border-radius: 3px;
  transition: 0.4s ease;
  font-weight: bold;
}

.liked__users__list {
  font-weight: bold;
}

.liked__user {

}

.like__count {
  margin-bottom: 8px;
}
