.user__wrapper {
  background-image: image-url('mypage.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 70vw;
  min-width: 450px;
  padding: 10vh 15vw;
  min-height: calc(100vh - 161px);
  // text-shadow: 0 0 10px black;
}

.user-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.page-heading {
  text-align: center;
  padding: 10px;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 10px black;
}

.table {
  border-collapse: collapse;
  margin: 0 auto;
  margin-bottom: 32px;
  width: 50%;
  background-color: #f0f0f0;
}

.table__col1 {
  text-align: left;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  width: 30%;
  padding: 8px;
}

.table__col2 {
  text-align: left;
  border: 1px solid #f5f5f5;
  border-collapse: collapse;
  width: 70%;
  padding: 16px 8px;
}

.posts {
  margin-bottom: 8px;
}

.user__card {
  flex-wrap: wrap;
}

.info {
  background-color: #f0f0f0;
  text-align: center;
}

.my_liked {
  background-color: #f0f0f0;
  width: calc((100% - 50px) / 3);
}